body {
    margin: 0;
    height: 100vh;
<<<<<<< HEAD
    background-image: ;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
=======
    background-image: url(./download.jfif);
>>>>>>> 20d3f58ebf1ade3e0e9976d4498e31f84accf968
}