body {
    margin: 0;
    height: 100vh;
    background-image: url(./download.jfif);
    background-size: cover;      /* Peittää koko alueen */
    background-repeat: no-repeat; /* Ei toistu */
    background-attachment: fixed; /* KUVA PYSYY PAIKALLAAN kun skrollataan */
    background-position: center; /* Keskitetään */
    color: white; /* Voi auttaa luettavuudessa */
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.card {
  text-align: center;
}